			<div id="upperPart_contact">
				<div id="mainImage">
					<%= image_tag("contact.jpg", :alt => "contact") %>
				</div>

			
				<div id="format">
					<form>
						Your Name:<br><input type="text" name="Name" id="textfieldBorder"	size="56"><br>
						Your Email:<br><input type="text" name="Email" id="textfieldBorder" size="56"><br>
						Subject:<br><input type="text" name="Email" id="textfieldBorder" size="56"><br>
						Message:<br><textarea id="textfield" rows="7" cols="43"></textarea>
					</form>
				</div>
				
				<div id="send">
					<a href="#">Send</a>
				</div>
				
				<div id="fadehover">
				    <ul>
				     <li><%= image_tag("twitter2.png", :alt => " ", :class => "b") %>
						<%= image_tag("twitter.png", :alt => " " , :class => "a") %></li>
				     
				
				     <li><%= image_tag("facebook2.png", :alt => " ", :class => "b") %>
						<%= image_tag("facebook.png", :alt => " " , :class => "a") %></li>
				    
				
				     <li><%= image_tag("linkedin2.png", :alt => " ", :class => "b") %>
						<%= image_tag("linkedin.png", :alt => " " , :class => "a") %></li>
				     
				     
				     <li><%= image_tag("pinterest.png", :alt => " ", :class => "b") %>
						<%= image_tag("pinterest.png", :alt => " " , :class => "a") %></li>
				    
				     <li><%= image_tag("gmail.png", :alt => " " ) %></li>
				    </ul>
				     
				  </div>
			</div>