		<div id="mainEmote">
				

				<div id="mainpicContainer">
					<%= image_tag("emote2.jpg", :alt => "emotez", :id => "mainPic") %>
				</div>

				
				<div id="logo">
					<%= image_tag("logo.jpg", :alt => "logoz") %>
				</div>
				
				<div id="textContainer">
					<div id="text">
						<p>Experience the world of exquisite luxury. L' Dezen Jewellery pieces carry their own sole personality by producing Round, Slice and Rose 
						cut Diamond Jewelry with a mix of Pearls, Ruby, Emeralds, Sapphire, Semi-Precious and Color Stones and  in 18K gold, to create timeless products.</p>
						<p>We are introducing new fabulous styles, bold schemes and modern shapes that will debut itself in todays world, leveraging the growing luxury 
						market and its constant need of owning the unique and wearing the rare. Above all, our priority lies in the best quality, the magnificent  
						handmade work of art that carries and captures beauty to stand out while preserving the classical elegance a Jewellery piece should have so 
						it can present it self with the utter most grace.</p>
					</div>
				</div>
								
				<div id="award">
					<%= image_tag("award.jpg", :alt => "awardz") %>
				</div>
				
				
				<div id="socialIcon">
					<ul>	
						<li><%= image_tag("fb.png", :alt => "Iconz") %></li>
						<li><%= image_tag("twi.png", :alt => "twiz") %></li>
					</ul>
				</div>
			</div>
						